* {
  box-sizing:border-box;
}

body {
  background: #333;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
}

.right-display {
  display: flex;
  flex: 1;
  flex-direction: column;
}

h1 {
  text-align: center;
  color: whitesmoke;
}

.chat-container {
  margin: 2rem 1rem 0 1rem;
  width: 25vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.characters-status-container {
  margin: -2rem auto;
  width: 65vw;
  height: 18vh;
  transform: translateY(350px);
}


.game-container {
  position: relative;
  width: 352px;
  height: 198px;
  margin: 0 auto;
  background: black;
  transform: scale(2.5) translateY(38%);
  margin-left: 435px;
}

.game-container canvas {
  image-rendering: pixelated;
}