#oneToOneChat {
    width: 120%;
    height: 50%;
    background-color: #2a2a2a;
    border: 1px solid #3e3e3e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
}

.oneToOne-header {
    background-color: #1a1a1a;
    padding: 10px;
    border-bottom: 1px solid #3e3e3e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.oneToOne-content {
    padding: 10px;
    overflow-y: auto;
    background-color: transparent;
    flex-grow: 1;
}

.oneToOne-content p {
    background-color: #333333;
    padding: 5px;
    margin: 5px 0;
    border-radius: 4px;
    font-size: 0.9em;
}

.oneToOne-input {
    padding: 10px;
    background-color: #1a1a1a;
    border-top: 1px solid #3e3e3e;
    display: flex;
    justify-content: space-between;
}

.oneToOne-input input[type="text"] {
    width: 85%;
    padding: 5px;
    border: 1px solid #3e3e3e; 
    background-color: #333; 
    color: #fff;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace; 
}

.oneToOne-input button {
    width: 12%;
    padding: 5px 10px;
    margin-left: 5%;
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

.oneToOne-input button:hover {
    background-color: #45a049; 
}
