.characters-status-container {
    background-color: #2a2a2a; 
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: space-evenly;
    font-family: 'Courier New', Courier, monospace; 
    height: 180px;
    overflow-y: auto;
    color: #ffffff;
    margin-top: 30px;
    margin-right: 30px
}

.status-columns {
    display: flex;
    width: 100%;
}

.location-column {
    flex: 1; 
    padding: 0 10px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.1); 
    border: 2px solid #3e3e3e;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.location-column h2 {
    color: #ff4500;
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 10px;
}

.location-column ul {
    list-style: none;
    padding: 0;
}

.location-column li {
    margin-bottom: 5px;
    font-size: 1em;
    color: #ccc; 
    text-align: center;
}

.location-column li:hover {
    color: #ff4500;
    text-decoration: underline;
}
